<div class="container-fluid">
  <div class="row">
    <div id="mapid"></div>
  </div>
  <div class="row mx-2 mt-2">
    <input id="place_search_bar" class="form-control ui-autocomplete-input" type="text" name="search_text" autocomplete="off" placeholder="Type in Business Name">
  </div>
  <div id="busy_data"></div>
</div>

<script>
  <%= render "map.js" %>
  <%= render "autocomplete.js" %>
</script>
